[VOLTAGE 9 Neural Deck]
http://127.0.0.1:5173/product-1 | data-price=" | " | USD | false

[RIDGELINE 45 Expedition Pack]
http://127.0.0.1:5173/product-2 | data-quote-price=" | " | USD | false

[The Petty Printer]
http://127.0.0.1:5173/product-3 | data-price=" | " | USD | true

[Luna One Espresso Machine]
http://127.0.0.1:5173/product-4 | data-current-price=" | " | USD | false

[Oura Ring 4]
https://www.jbhifi.com.au/products/oura-ring-4-size-6-gold | Value: " | "
https://www.amazon.com.au/Oura-Ring-Tracking-Wearable-Fitness/dp/B0D9WTSRP8?th=1 | <span class="a-price aok-align-center apex-pricetopay-value" data-a-size="xl" data-a-color="base"><span class="a-offscreen"> | </span>
https://pricehound.com.au/product/oura-ring-4-gold | "price":" | "
