[VOLTAGE 9 Neural Deck]
http://127.0.0.1:5173/product-1 | data-price=" | " | USD | false

[RIDGELINE 45 Expedition Pack]
http://127.0.0.1:5173/product-2 | data-quote-price=" | " | USD | false

[The Petty Printer]
http://127.0.0.1:5173/product-3 | data-price=" | " | USD | true

[Luna One Espresso Machine]
http://127.0.0.1:5173/product-4 | data-current-price=" | " | USD | false

[Arty A7-100T]
https://digilent.com/shop/arty-a7-100t-artix-7-fpga-development-board/ | property="product:price:amount" content=" | " | USD | false
https://www.amazon.com.au/Arty-A7-Artix-7-Development-Hobbyists/dp/B07D1DVRG6 | "priceAmount": | ,"currencySymbol" | USD | false
https://au.mouser.com/c/?tool+is+for+evaluation+of=Artix-7 | "price": | , | AUD | false
https://www.digikey.com.au/en/products/detail/digilent-inc/410-319-1/9445912 | "unitPrice": | , | AUD | false
https://au.element14.com/digilent/410-319-1/development-kit-artix-7-fpga/dp/3050772 | itemprop="price" content=" | " | AUD | false
https://nz.element14.com/digilent/410-319-1/development-kit-artix-7-fpga/dp/3050772 | itemprop="price" content=" | " | NZD | false
