[VOLTAGE 9 Neural Deck]
http://127.0.0.1:5173/product-1 | data-price=" | "

[RIDGELINE 45 Expedition Pack]
http://127.0.0.1:5173/product-2 | data-quote-price=" | "

[The Petty Printer]
http://127.0.0.1:5173/product-3 | data-price=" | "

[Luna One Espresso Machine]
http://127.0.0.1:5173/product-4 | data-current-price=" | "
